body{
	font-family: 'Cuprum', sans-serif;
	width: 100%;
    background: linear-gradient(358deg, #d7cad7, #ffffff);
}
.container{
	width: 100%;
	margin: 0 auto;
}
form{
	margin-top: 20px;
}
.input-group[class*=col-]{
	width: 80% !important;
}
.input-group[class*=col-]>input{
	background-color: #fbf7fb;
}
/*.form-submit-successful,*/ .form-submit-failure, #error{
	display: none;
}
#myModal{
	margin-top: 175px;
}
.modal-title{
	float: left;
}
button .close{
	float: right;
}
@media(max-width: 750px){
	.input-group[class*=col-]{
		width: 100% !important;
	}
}