@import url('https://fonts.googleapis.com/css?family=Martel');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    font-family: 'Cuprum', sans-serif;
}
a {
    font-family: 'anton';
    font-weight: lighter;
}
h1 {} h2 {} h3 [] h4 {
    font-family: 'cuprum' !important;
    font-weight: Bold;
}
h5 {
    font-family: 'cuprum' !important;
    
}
p [] .fa {
    font-size: 12px !important;
}
body {
    background: linear-gradient(358deg, #d7cad7, #ffffff);
    overflow: hidden;
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 52% 0%
        }
        50% {
            background-position: 49% 100%
        }
        100% {
            background-position: 52% 0%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 52% 0%
        }
        50% {
            background-position: 49% 100%
        }
        100% {
            background-position: 52% 0%
        }
    }
    @-o-keyframes AnimationName {
        0% {
            background-position: 52% 0%
        }
        50% {
            background-position: 49% 100%
        }
        100% {
            background-position: 52% 0%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 52% 0%
        }
        50% {
            background-position: 49% 100%
        }
        100% {
            background-position: 52% 0%
        }
    }
}
.c-hamburger--htra.is-active {} .c-hamburger--htra {} .c-hamburger {
    display: block;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
.c-hamburger:focus {
    outline: none;
}
.c-hamburger span {
    display: block;
    top: 22px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: white;
}
.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
}
.c-hamburger span::before {
    top: -10px;
}
.c-hamburger span::after {
    bottom: -10px;
}
.c-hamburger--htra span {
    transition: transform 0.3s;
}
.c-hamburger--htra span::before {
    transform-origin: top left;
    transition: transform 0.3s, width 0.3s, top 0.3s;
    z-index: 1;
}
.c-hamburger--htra span::after {
    transform-origin: bottom left;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
    z-index: 1;
}
/* active state, i.e. menu open */

.c-hamburger--htra.is-active {} .c-hamburger--htra.is-active span {
    transform: rotate(180deg);
}
.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
    width: 50%;
}
.c-hamburger--htra.is-active span::before {
    top: 0;
    transform: translateX(-4px) translateY(2px) rotate(-45deg);
}
.c-hamburger--htra.is-active span::after {
    bottom: 0;
    transform: translateX(-4px) translateY(-2px) rotate(45deg);
}
header {
    position: relative;
    height: 0px;
    z-index: 1;
    margin: 0, 0, 0, 0;
    padding: 0, 0, 0, 0;
}
header h1 {
    color: white;
}
svg {
    position: absolute;
    padding: 0, 0, 0, 0;
    width: 100%;
    height: 100px;
}
#curve {
    transition: 0.5s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    background: linear-gradient(154deg, #000000, #67167f);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 54%
        }
        50% {
            background-position: 100% 47%
        }
        100% {
            background-position: 0% 54%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 54%
        }
        50% {
            background-position: 100% 47%
        }
        100% {
            background-position: 0% 54%
        }
    }
    @-o-keyframes AnimationName {
        0% {
            background-position: 0% 54%
        }
        50% {
            background-position: 100% 47%
        }
        100% {
            background-position: 0% 54%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 0% 54%
        }
        50% {
            background-position: 100% 47%
        }
        100% {
            background-position: 0% 54%
        }
    }
}


/* SIDEBAR */

#side-logo {height: 40px; width: auto; opacity: 0;
 }

.sidenav ul {padding-top: 0px;}
.sidenav ul li {
    padding-top:0px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: 'Cuprum';
    height:55px;
}
.sidenav ul li a {
font-size: 38px;
color: white;
color: #fbf7fb;
font-family: 'Cuprum';
font-weight: bold;

}
canvas{overflow: hidden !important;}
.sidenav a:hover,
.offcanvas a:focus {
    text-decoration: none;


    color: #e0efff;
}
.sidenav .closebtn {
    position: absolute;
    top: -20;
    right: 5px;
    
    margin-right: 10px;
    height:20px;
}
.closebtn {
    font-size: 60px !important;
    right: 1px !important;
    color:white;
    height: 20px !important;

}
#main {
    transition: margin-right .5s;
}
.open {
    font-size: 50px;
    cursor: pointer;
    text-align: right;
    z-index: 1;
    right: 10;
    top: 10;
    COLOR: WHITE;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 5px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
label {
  
}
.fb-connect {
    height: 33px;
    margin-right: 16px;
}

#login {
    border-top: .01px white solid;
}
#logo {
    height: 45px;
    left: 5px;
    top: 8px;
    position: fixed;
    z-index: 1;
    transition: .5s;
}
#mobile-text {
    display: none;
    text-align: center;
    margin-top: -190px;
}
@media only screen and (max-width: 720px) {
    .click_space{
        display: none;
    }
    #show-next-page{
        margin-left: 0px !important; 
    }

    #mobile-text {
        display: inline;
        text-align: center;
        color: #1d011e;
    }
    object {
        margin-top
    }
    #animation {
        max-height: 470px;
        overflow: hidden;
    }
    #mysidenav {
        font-family: Martel;
    }
    @media only screen and (min-width: 720px) {
        #social {
            transition: .5s;
        }
    }
    #social {
        position: fixed;
        top: 200px;
        display: none;
        transition: .5s;
        
       
    }
}
#social {
    position: fixed;
    top: 200px;
    width: 0px;

}
#social ul {
    padding: 0px;
    -webkit-transform6 translate(-250px, 0);
    -moz-transform: translate(-260px, 0);
    -ms-transform: translate(-260px, 0);
    -o-transform: translate(-260px, 0);
    transform: translate(-260px, 0);
}
#social ul li {
    display: block;
    margin: 10px;
    background: #1d011e;
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}
#social ul li:hover a {
    color: #000;
}
#social ul li:hover i {
    color: #fff;
    background: #1d011e;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#social ul li i {
    padding-left: 15%;
    color: #000;
    background: #fff;
    padding: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 18px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.icon-button {
    text-align: center;
    display: inline;
    float: left;
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
    background-color: #746680;
}
.icon-button:hover{
    background-color:#fbf7fb; 
}



/* Side Form */

#side-login { vertical-align: bottom; padding-top: 40px; padding-left: 10px;}
.clientlogin input { width: 93%; margin-right:20px;}
/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}
.twitter span {
    background-color: #4099ff;
}
.instagram span {
    background-color: #954b10;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #fffe03;
}

/* Icons */
.side-social {width:250px; padding-left:22px; padding-top:0px;}

.icon-button i {
    background: none;
    color: black;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
    font-size: 20px;
}
.icon-button .instagram {
    color: #954b10;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-google-plus {
    color: #fffe03;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus .icon-button:hover .instagram {
    color: white;
}
#solutionshead {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    font-family: cuprum;
    margin-bottom: 0px;
    text-align: center;
}
@media only screen and (max-width: 650px) {
    #solutionshead {
        margin-top: 70px;
        margin-bottom: 0px;
    }
}
.container {
    padding: 5px;
    max-width: 960px;
}
.Weoperate {
    text-align: center;
}
.next-button {
    width: 80%;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    
}
.next-button2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding-right: 39px;
}
@media only screen and (max-width: 610px) {
    .weoperate {
        margin-top: -160px;
        font-size: 20px;
        margin-top: -6.5em !important;
    }
}
.Undertable {} .homepage-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.set-appointment {
    font-family: 'cuprum';
    color: #330033;
    position: fixed;
    width: 80%;
    bottom: 6%;
    
}
.set-appointment button {
    background-color:#f5efdc;
       color:#330033;
}
.set-appointment button:hover {
    display: inline-block;
    height: 38px;
    color: black;
    text-align: center;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: #dcd3e6;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;

}
#show-next-page {
    cursor: pointer;
    font-size: 30px;
    margin-left: 25px;
}
.table-animation-content {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
}
.table-animation-content>div {
    width: 80%;
    margin: 0 auto;
}
.mainheader {
    font-size: 2rem;
    position: fixed;
    width: 80%;
    font-weight: bolder;
    color: #330033;
    font-family: 'cuprum' !important;
     letter-spacing: 0.01em !important;
     bottom: 10%;
 
}
@media only screen and (max-width: 580px) {
    .mainheader {
      
      
        font-family: 'cuprum' !important;
        font-weight: lighter;
        letter-spacing: 0.01em !important;
         bottom: 10%;
        
    
    }
}
.Basedinmnpls {
    font-family: 'anton' !important;
    font-size: 1.7rem !important;
    font-weight: lighter !important;

    color: #330033;
}
@media only screen and (max-width: 550px) {
    .Basedinmnpls {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 550px) {
    .Undertable h5 {
        font-size: 2rem;
    }
    .Undetable h3 {
        font-size: 3.2rem;
    }
  
}

.Breaker {
    display: none;
}
@media only screen and (max-width: 550px) {
    .Breaker {
        display: block;
    }
}
.secnextpage {
    cursor: pointer;
    font-size: 30px;
    opacity: 0.5;
}
.secpagebutton {} .clientlogin {
    margin-left: 10px;
}

a {
    color: #330033;
}
p{
    color: #330033;
    
}

.contacttype{
    margin-right: 50px;
    padding-right: 50px;
}

.contactspace {
    margin-left: 20px;
}
#table-animation{
    transition: 1s ease-in-out;
    display: none;
    opacity: 0;
}
.tabs .tab a:hover, .tabs .tab a.active{
    color: #746680 !important;
}
.Tripodtitle{
    font-size: 2.1rem !important;
    font-family: 'anton';
    margin-bottom: -15px !important;
    margin-bottom: 0px !important;
    color: #330033;
    text-align: center;
    font-weight: lighter;
}
.circle{
    display: none;
}
.tabs .indicator {
    background-color: #746680 !important;
}
.tabs .tab a{
    color: #330033 !important;
}
.Tripodp{
    font-family: 'cuprum';
    line-height: 1.3 !important ;
    font-size: 1.5rem;
    text-align: justify;
}
.label.col-md-2.control-label{
    float: left;
}

.carouselbottom{
    bottom: 0;
}
.title{
    
    
    font-family: 'anton';
    color: #330033;
    font-weight: lighter;
    text-align: center;

}
.adpage{
    margin: 5px;
}
#step3 {
    display: none;
     margin-top: 0px !important;
    padding-top:10px !important; 
}
.Abouttripod{
    margin-top: -95px;
    overflow: hidden;

}
#animation_container{
    margin-top: 50px;
}

div.next button.submit.btn.btn-primary
{
    width: 100px !important;
    background-color: #bce5a6 ;
    border:none;
        color: black




}
.next .btn-primary:hover{
  
    background-color: #ade092 !important;
    display: inherit;
height: 35px;
color: white;
text-align: center;
font-size: 16px;
font-weight: 600;
line-height: 0px;
letter-spacing: inherit;
text-transform: none;
text-decoration: none;
white-space: nowrap;
background-color: #bec0d0;

border: 1px solid red;
cursor: pointer;
box-sizing: border-box;


box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.set-appointment button{
    font-family: 'cuprum';
}

div.step2 form.form-horizontal div.form-group div.input-group.date.form_datetime.col-md-5 input.form-control,html body div.container div.step2 form.form-horizontal div.form-group div.input-group.col-md-5 textarea.form-control,html body div.container div.step2 form.form-horizontal div.form-group div.input-group.col-md-5 input.form-control,
html body div.container div.step2 form.form-horizontal div.form-group div.input-group.date.form_datetime.col-md-5 span.input-group-addon
{
    background-color: #fbf7fb ;
}

html body div.container div.step2 form.form-horizontal div.form-group div.input-group.date.form_datetime.col-md-5 span.input-group-addon span.glyphicon.glyphicon-remove,
html body div.container div.step2 form.form-horizontal div.form-group div.input-group.date.form_datetime.col-md-5 span.input-group-addon span.glyphicon.glyphicon-th{
    color: #330033;
}

html body div.container div.step2 form.form-horizontal div.form-group label.col-md-2.control-label,
html body div.container div.step2 form.form-horizontal div.form-group label.col-md-2.control-label,
html body div.container div.step2 form.form-horizontal div.form-group label.col-md-2.control-label,
html body div.container div.step2 form.form-horizontal div.form-group.meeting-type label.col-md-2.control-label{
    color: 330033;
}
.cbp-qtprogress{
    background: #7027c3;
}

.cbp-qtrotator blockquote p{
    font-size: 1.3em;
}

html.js.csstransitions body section#testimonials.pfblock-gray div.row div#cbp-qtrotator.cbp-qtrotator{
    background-color: none;
}
html.js.csstransitions body section#testimonials.pfblock-gray div.row div#cbp-qtrotator.cbp-qtrotator span.cbp-qtprogress{

width: 140%;
}

html.js.csstransitions body section#testimonials.pfblock-gray div.row div#cbp-qtrotator.cbp-qtrotator div.cbp-qtcontent.cbp-qtcurrent blockquote{
    text-align: justify;
    margin: 10px;}

.cbp-qtrotator blockquote footer{
    float: right;
    font-family: 'anton';
}
.testimonialheader{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'cuprum';
    font-size: 60px;
    font-weight: Bold;
    color:#330033;
    letter-spacing: 3;
}


.testimonialheaderall{
    
 height: 20em;

      }
.testinmonialspan{
    font-size: 24px !important;
    clear: both;
}

@media only screen and (max-width: 610px) {
    .multid {
        clear: both;
        font-size: 55px;
        font-weight: lighter;
        font-family: 'anton';
        letter-spacing: 0.04em !important;
        line-height: 1.3 !important;
        margin-bottom: none !important;

    }
}

.multid{
    letter-spacing: 0.03em !important;
    font-size: 40px;
        font-weight: lighter;
        font-family: 'anton';
         line-height: 1.2 !important;

}
.tabs.tabs a{
    font-size: 22px;
    letter-spacing: 0.02em !important;
     font-weight: bold;
        font-family: 'cuprum';

}

@media only screen and (max-width: 610px) {
    .tabs.tabs a {
        font-weight: bold;
        font-family: 'cuprum';
        font-size: 15px;
            letter-spacing: 0.01em !important;

    }
    .button, button, input[type="submit"], input[type="reset"], input[type="button"]{
        height: 27px;
    }
    .set-appointment{
        bottom: 7%;
    }
}

.input{
    background-color: #fbf7fb;
}

.CreativeAgency{
    font-weight: bold;
    font-family: 'anton' !important;
    margin-top: 2px;
    font-size: 1.5em;
}

.clientlogin > input:nth-child(1){
    margin-bottom: 15px;
}

.clientlogin > input:nth-child(2){
    margin-bottom: 15px;
}
button.hvr-grow{
 margin-bottom: 15px;  
 color: #fbf7fb; 
}
#side-login > label:nth-child(2) > b:nth-child(1){
    color: #fbf7fb;
    margin-left: 40px;
    font-family: 'cuprum';
    font-size: 20px;
}
.secondnextbutton{
    width: 100%;
    cursor: pointer;
font-size: 38px;
opacity: 0.5;
position: fixed;
bottom: 0;
text-align: center;
margin-left: auto;
margin-right: auto;
}
#show-next-page2{
    margin-left: 35%;
}

.services-tab{
    margin-top: -20px;
}
.next{
    margin-left: 50%;
    margin-right: 22%;
}
@media only screen and (max-width: 950px) {
.title{ 

}

.next{
 margin-left: 0%;
clear: none;


}
  .services-tab{
    margin-top: -40px;
}
.Tripodtitle{
        font-size: 1.5rem !important;
    font-family: 'anton';
    margin-bottom: -10px !important;
    color: #330033;
    text-align: center;
    font-weight: lighter;

}
.Tripodp{
    font-family: 'lato';
    line-height: 1rem !important ;
    font-size: 1rem;
    text-align: justify;
        text-indent: 35px;
}


}

 #show-next-page2:hover{
    color: #746680;
 } 

 #show-next-page:hover{
    color: #746680;
 } 
html body div.container div.row div.card.feed div#all.col.s12.active{
    margin-bottom: 20px;
}

.links {
    color:#fbf7fb;
}
#side-login > label:nth-child(2) > b:nth-child(1){
    color: #fbf7fb;
}



.g-recaptcha{
    top:0;
    
}


html body div.container div.step2 form.form-horizontal.contact-form div.form-group{
    padding-right: 30px;}

html body div.container div.row div.card.feed ul#tabs-swipe.tabs.tabs-fixed-width li.tab.col.s3{
width: 35%;
}
#table-animation{
    display: block !important;
}
.container{
    max-width: 1020px !important;
}
.bg-info .item{
  height: 100% !important;
}
.bg-info{
  background: none !important;
}
body {
  margin: 0;
}
.ticker-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px 0;
  margin: 0;
  font-size: 18px;
}

.carousel.vertical .carousel-inner {
 /* height: 100%;*/
  width: auto;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .item {
    -webkit-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }
  .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    top: 0;
  }

.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  display: block;
}
.carousel.vertical .carousel-inner > .active {
  top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel.vertical .carousel-inner > .next {
  top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
  top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
  top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
  top: 100%;
}

.carousel.vertical .carousel-control {
  left: auto;
  width: 50px;
}
.carousel.vertical .carousel-control.up {
  top: 0;
  right: 0;
  bottom: 50%;
}
.carousel.vertical .carousel-control.down {
  top: 50%;
  right: 0;
  bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-up,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .glyphicon-chevron-up {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel.vertical .carousel-control .icon-next:before {
  content: '\203a';
}
#right-curve{
  height:200px; 
  float;right; 
  position:fixed; 
  right:0; 
  pointer-events: none;
}
#menu_hamburger{
  position:fixed;
  right: 10;
}
#mySidenav{
  position: fixed;
}
#side-logo{
  display: inline; 
  opacity: 1; 
  transition: 1.5s;
}
#client-submit-button{
  float:right; 
  margin-right:50px; 
  color:#fbf7fb;
}
.fb-connect{
  float:right; 
  padding-right: 39px;
}
.error-template{
    margin-top: 50px;
    text-align: center;
}
.error-actions {margin-top:30px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; background-color: #330033; }
a.btn:nth-child(2){
    color: white;
}
.error-template > h1:nth-child(1){
    font-size: 6em;
}

.title1{
    margin-top: 5%;
}
