# Ignore SFTP Configuration file
sftp-config.json
# Ignore file system files
/**/.DS_Store
*.DS_Store
# Ignore gulp build file
gulpfile.js
# Ignore gulp build directories
/js/min/
/css/min/
/dist/
# Ignore files that are not required
diff-index.txt
/temp/
/scripts/keys.ini
